@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0c96a5;
  --secondary: #f49555;
  --thirdly: #0910e8;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.border-primary {
  border-color: var(--primary);
}

.border-secondary {
  border-color: var(--secondary);
}

.hover\:bg-primary:hover {
  background-color: var(--primary);
}

.hover\:bg-secondary:hover {
  background-color: var(--secondary);
}

.hover\:text-primary:hover {
  color: var(--primary);
}

.hover\:text-secondary:hover {
  color: var(--secondary);
}
@keyframes pulse-whatsapp {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(37, 211, 102, 0);
  }
}

.animate-pulse-whatsapp {
  animation: pulse-whatsapp 2s infinite;
}

html, body, #root {
  height: 100%;
}